.RedirectPage {
    text-align: center; 
    margin-top: 20%; 
    margin-bottom: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.RedirectPage>a{
    text-decoration: none;
    font-size: 80px;
    padding: 2%;
    font-family: 'Itim';
    color:  blue;
    background-color: blanchedalmond;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 20px;
}

.RedirectPage>a:hover{
    color:  blanchedalmond;
    background-color: blue;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition-delay: 0.5ms;
}

@media(max-width:1000px){
    .RedirectPage {
        text-align: center; 
        margin-top: 10%; 
    }
    .RedirectPage>a{
        font-size: 20px;
        padding: 2%;
        border-radius: 5px;
    }
}